*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height:  100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 18vh;
}

#page1 h1{ 
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}
#img{
    height: 100vh;
    width: 100%;
    background-color: white;  
    margin-top: 1vw;
    position: relative;
}
#img img{
    height: 100%;
    width: 100%;
}
#img #button{
    padding:4vw;
    background-color: black;
    color: #fff;
    font-size: 3vw;
    position: fixed;
    font-family: futura;

}